codecov==2.1.12
matplotlib==3.6.2
pandas
pytest-asyncio==0.20.3
pytest-cov==4.0.0
pytest==7.2.0
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
